{% extends 'base.html' %}
 {% block title %}О проекте{% endblock %} 
 {% block main %} О проекте
Блогикум — это дом для творческих людей. Это — сообщество людей, для которых нет грани между ведением блога и дружбой в социальных сетях.

Дружба и рассказы о новых, неизведанных впечатлениях — вот что вы найдете на нашем ресурсе. Миллионы блогов по различным темам. Путешествия, политики, развлечения, мода, мода, литература, дизайн и все другие сферы человеческой деятельности.

Творчество, разнообразие и свобода взглядов и самовыражения — основные черты наших пользователей.

{% endblock %}

